// Variables. Credit to ChatGPT for comments.

// Primary Colors
$primary-color: #000000; // black
$secondary-color: #ff0000; // red
$tertiary-color: #ffffff; // white
$quaternary-color: #333333; // dark gray

// Text Colors
$text-primary: #ffffff; // white
$text-secondary: #ff0000; // red
$text-tertiary: #333333; // dark gray
