$primary-color: #000000; // black
$secondary-color: #ff0000; // red
$tertiary-color: #ffffff; // white
$quaternary-color: #333333; // dark gray

$text-primary: #ffffff; // white
$text-secondary: #ff0000; // red
$text-tertiary: #333333; // dark gray