// Header styling. Credit to ChatGPT for code comments.

/* Styles for the header */
header {
  background-color: $primary-color; /* Set the background color of the header */
  color: $text-primary; /* Set the text color */
  font-family: Arial, Helvetica, sans-serif; /* Set the font family */
  border-bottom: solid 2px $secondary-color; /* Add a solid border at the bottom */
  position: absolute; /* Position the header */
  top: 0; /* Align the header to the top of the viewport */
  left: 0; /* Align the header to the left of the viewport */
  width: 100%; /* Set the width to span the entire viewport */
  padding: 0 2rem; /* Add padding to the header */
  z-index: 2; /* Set the z-index to ensure the header appears above other content */
  @include flex-head; /* Apply flexbox layout for horizontal alignment */
  ul {
    @include flex; /* Apply flexbox layout to the unordered list */
    gap: 3rem; /* Set the gap between list items */
    li {
      list-style: none; /* Remove default list styles */
      font-weight: bold; /* Set the font weight to bold for list items */
      &:hover {
        opacity: 0.8; /* Reduce opacity on hover */
        transition: opacity 0.5s ease; /* Add transition effect for opacity */
      }
      a {
        text-decoration: none; /* Remove underline from anchor links */
        color: $text-primary; /* Set the text color for anchor links */
      }
    }
  }
}

/* Applies query selector to the element for small screens (768px to 991px) */
@include breakpoint-sm {
  /* Targets the main content section for adjustments */
  #dash-main {
    /* Sets the height of the main content section */
    height: 75%;
    /* Applies flex-center-column mixin to the form within the main content */
    form {
      @include flex-center-column;
    }
  }
}

/* Applies query selector to the element for extra small screens (less than 480px) */
@include breakpoint-xs {
  /* Targets the header section for adjustments */
  header {
    /* Targets the h1 element within the header for adjustments */
    h1 {
      /* Sets the font size of the h1 element */
      font-size: 1.6rem;
    }
    /* Targets the form within the header for adjustments */
    form {
      /* Applies flex-center-column mixin to the form within the header */
      @include flex-center-column;
      /* Targets the input field within the form for adjustments */
      input {
        /* Sets the width of the input field to 100% */
        width: 100%;
        /* Sets the height of the input field to auto */
        height: auto;
      }
    }
  }
}

