/* Apply box-sizing to all elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set the base font size to 10px for easier rem calculations */
:root {
  font-size: 10px;
}

/* Set the default font size for the body */
body {
  font-size: 1.6rem; /* Equivalent to 16px */
}

/* Style for the header element */
header {
  height: 70px; /* Set the height of the header */
}

/* Style for the main element */
main {
  height: 100%; /* Set the height of the main content */
}

/* Style for the footer element */
footer {
  height: 40px; /* Set the height of the footer */
}

/* Set the font family, line height, and text color for the body */
body {
  font-family: monospace; /* Use monospace font family */
  line-height: 1.6; /* Set the line height to 1.6 times the font size */
  color: #333; /* Set text color to dark gray */
}

/* Styles for heading level 1 (h1) */
h1 {
  font-size: 3.2rem; /* Set font size to 3.2 times the base font size */
  font-weight: bold; /* Apply bold font weight */
}

/* Styles for heading level 2 (h2) */
h2 {
  font-size: 2.4rem; /* Set font size to 2.4 times the base font size */
  font-weight: bold; /* Apply bold font weight */
}

/* Styles for heading level 3 (h3) */
h3 {
  font-size: 1.6rem; /* Set font size to 1.6 times the base font size */
  font-weight: bold; /* Apply bold font weight */
}

/* Styles for heading level 4 (h4) */
h4 {
  font-size: 1.3rem; /* Set font size to 1.3 times the base font size */
}

/* Styles for heading level 5 (h5) */
h5 {
  font-size: 1rem; /* Set font size to the base font size */
}

/* Styles for heading level 6 (h6) */
h6 {
  font-size: 0.9rem; /* Set font size to 0.9 times the base font size */
}

/* Define a keyframe animation called fadeIn */
@keyframes fadeIn {
  /* Define the starting keyframe */
  from {
    opacity: 0; /* Set opacity to 0 (fully transparent) */
  }
  /* Define the ending keyframe */
  to {
    opacity: 1; /* Set opacity to 1 (fully opaque) */
  }
}
/* Define styles for the general button */
.btn {
  padding: 1rem; /* Add padding */
  border: none; /* Remove border */
  height: auto; /* Automatically adjust height */
  width: 100px; /* Set fixed width */
  background-color: #ff0000; /* Set background color */
  color: #ffffff; /* Set text color */
  font-family: Arial, Helvetica, sans-serif; /* Specify font family */
  font-size: 2rem; /* Set font size */
  font-weight: bold; /* Set font weight */
  text-align: center; /* Align text to center */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 5px; /* Add border radius */
  /* Define styles for button hover state */
}
.btn:hover {
  opacity: 0.9; /* Reduce opacity on hover */
}

/* Define styles for the enter button */
.btn--enter {
  position: absolute; /* Position absolute */
  bottom: 3%; /* Distance from the bottom */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center vertically */
  z-index: 2; /* Set stacking order */
  height: auto; /* Automatically adjust height */
  width: 100px; /* Set fixed width */
  background-color: #ff0000; /* Set background color */
  text-align: center; /* Align text to center */
  line-height: 30px; /* Set line height */
  font-family: Arial, Helvetica, sans-serif; /* Specify font family */
  padding: 5px 0px; /* Add padding */
  border-radius: 5px; /* Add border radius */
  cursor: pointer; /* Change cursor to pointer */
  box-shadow: 5px 5px 5px black; /* Add box shadow */
  transition: opacity 0.3s ease; /* Add transition effect */
  animation: fadeIn 5s ease-out; /* Apply fadeIn animation */
  /* Define styles for anchor tag inside the button */
  /* Define styles for button hover state */
}
.btn--enter a {
  text-decoration: none; /* Remove underline */
  color: #ffffff; /* Set text color */
}
.btn--enter:hover {
  opacity: 0.8; /* Reduce opacity on hover */
  cursor: pointer; /* Change cursor to pointer */
}

/* Define styles for the spell card */
.spell-card {
  box-shadow: 5px 5px 5px #000000; /* Add box shadow */
  padding: 1rem; /* Add padding */
  background-color: #333333; /* Set background color */
  color: #ffffff; /* Set text color */
  border-radius: 5px; /* Add border radius */
  max-height: 500px; /* Set maximum height */
  width: 75%; /* Set width */
  margin: auto; /* Center horizontally */
  overflow: scroll; /* Enable scrolling */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  /* Define styles for spell card details */
  /* Scrollbar Styling */
}
.spell-card__details strong {
  color: #ff0000; /* Set color for strong elements */
}
.spell-card__details hr {
  /* Credit to Geeks For Geeks for hr styling */
  background-color: #ff0000; /* Set background color */
  height: 2px; /* Set height */
  border: none; /* Remove border */
}
.spell-card::-webkit-scrollbar {
  width: 12px; /* Set width of scrollbar */
}
.spell-card::-webkit-scrollbar-thumb {
  background-color: #555555; /* Set color of scrollbar thumb */
  border-radius: 5px; /* Add border radius */
}
.spell-card::-webkit-scrollbar-track {
  background-color: #333333; /* Set color of scrollbar track */
  border-radius: 5px; /* Add border radius */
}

@media (min-width: 481px) and (max-width: 768px) {
  .spell-card {
    max-height: 350px;
    width: auto;
  }
}
@media (max-width: 480px) {
  .spell-card {
    max-height: 300px;
    width: auto;
  }
}
/* Style for the spell search form */
#spellSearchForm {
  display: flex;
  justify-content: center;
  gap: 10px;
  /* Apply flexbox layout */
}
#spellSearchForm label {
  color: #ffffff; /* Set color for labels */
}

/* Style for the spell name input */
#spellName {
  font-size: 2.4rem; /* Set font size */
  padding-left: 5px; /* Add left padding */
}

/* Styles for the header */
header {
  background-color: #000000; /* Set the background color of the header */
  color: #ffffff; /* Set the text color */
  font-family: Arial, Helvetica, sans-serif; /* Set the font family */
  border-bottom: solid 2px #ff0000; /* Add a solid border at the bottom */
  position: absolute; /* Position the header */
  top: 0; /* Align the header to the top of the viewport */
  left: 0; /* Align the header to the left of the viewport */
  width: 100%; /* Set the width to span the entire viewport */
  padding: 0 2rem; /* Add padding to the header */
  z-index: 2; /* Set the z-index to ensure the header appears above other content */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Apply flexbox layout for horizontal alignment */
}
header ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  /* Apply flexbox layout to the unordered list */
  gap: 3rem; /* Set the gap between list items */
}
header ul li {
  list-style: none; /* Remove default list styles */
  font-weight: bold; /* Set the font weight to bold for list items */
}
header ul li:hover {
  opacity: 0.8; /* Reduce opacity on hover */
  transition: opacity 0.5s ease; /* Add transition effect for opacity */
}
header ul li a {
  text-decoration: none; /* Remove underline from anchor links */
  color: #ffffff; /* Set the text color for anchor links */
}

/* Applies query selector to the element for small screens (768px to 991px) */
@media (min-width: 481px) and (max-width: 768px) {
  /* Targets the main content section for adjustments */
  #dash-main {
    /* Sets the height of the main content section */
    height: 75%;
    /* Applies flex-center-column mixin to the form within the main content */
  }
  #dash-main form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
/* Applies query selector to the element for extra small screens (less than 480px) */
@media (max-width: 480px) {
  /* Targets the header section for adjustments */
  header h1 {
    /* Sets the font size of the h1 element */
    font-size: 1.6rem;
  }
  header form {
    /* Applies flex-center-column mixin to the form within the header */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* Targets the input field within the form for adjustments */
  }
  header form input {
    /* Sets the width of the input field to 100% */
    width: 100%;
    /* Sets the height of the input field to auto */
    height: auto;
  }
}
/* Style for the footer */
footer {
  position: absolute; /* Position the footer at the bottom */
  bottom: 0; /* Align the footer to the bottom of the viewport */
  border-top: solid 2px #ff0000; /* Add a solid border at the top */
  background-color: #000000; /* Set the background color */
  color: #ffffff; /* Set the text color */
  text-align: center; /* Center-align the text */
  height: 30px; /* Set the height of the footer */
  width: 100%; /* Set the width to span the entire viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Apply flexbox layout to center content vertically and horizontally */
}

/* Styles for the body */
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100vh; /* Set the height of the body to fill the viewport */
  overflow: hidden; /* Hide overflow content */
  position: relative; /* Set the position of the body */
  background-color: #ffffff; /* Set the background color */
  color: #333333; /* Set the text color */
  font-family: Arial, Helvetica, sans-serif; /* Set the font family */
}

/* Styles for the main content */
main {
  z-index: 1; /* Set the stacking order */
  position: relative; /* Set the position */
}

/* Defines styles for the container holding the splash image */
.splash-image-container {
  /* Positions the container fixed to the viewport */
  position: fixed;
  /* Places the container at the top left corner of the viewport */
  top: 0;
  left: 0;
  /* Makes the container cover the entire viewport */
  width: 100%;
  height: 100%;
  /* Prevents overflow content from being visible */
  overflow: hidden;
  /* Sets the stacking order of the container behind other elements */
  z-index: 0;
}

/* Styles for the splash image itself */
.splash-image {
  /* Makes the image fill the entire container */
  width: 100%;
  height: 100%;
  /* Ensures the image covers the container while maintaining aspect ratio */
  -o-object-fit: cover;
     object-fit: cover;
}

/* Styles for the banner displayed on the splash screen */
.splash-banner {
  /* Positions the banner absolutely within its containing element */
  position: absolute;
  /* Centers the banner vertically and horizontally */
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Sets the stacking order of the banner above the image */
  z-index: 2;
  /* Defines the text color */
  color: #ffffff;
  /* Sets the background color */
  background-color: #000000;
  /* Adds padding around the content */
  padding: 2rem;
  /* Rounds the corners of the banner */
  border-radius: 10px;
  /* Applies a fade-in animation over 5 seconds */
  animation: fadeIn 5s ease-out;
  text-align: center;
}

/* Styles for the text displayed on the splash screen */
.splash-text {
  /* Positions the text absolutely within its containing element */
  position: absolute;
  /* Centers the text vertically and horizontally */
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Sets the stacking order of the text above the image */
  z-index: 2;
  /* Defines the text color */
  color: #ffffff;
  /* Sets the background color */
  background-color: #000000;
  /* Adds padding around the content */
  padding: 1rem;
  /* Aligns the text in the center */
  text-align: center;
  /* Rounds the corners of the text */
  border-radius: 10px;
  /* Applies a fade-in animation over 10 seconds */
  animation: fadeIn 10s ease-out;
}

/* Applies query selector to the element for extra small screens (less than 480px) */
@media (max-width: 480px) {
  /* Targets the splash-text element for adjustments */
  .splash-text {
    /* Adjusts the top position to center vertically on extra small screens */
    top: 50%;
    /* Sets the maximum height of the splash-text element */
    max-height: 300px;
    /* Sets the width of the splash-text element */
    width: 200px;
    /* Adds scroll functionality to the splash-text element if content overflows */
    overflow: scroll;
  }
}
#dash-main {
  z-index: 1; /* Sets the stacking order of the element */
  position: relative; /* Defines the positioning context for the element */
  border: solid 2px #ff0000; /* Adds a solid border around the element with a thickness of 2 pixels and a color based on the $secondary-color variable */
  background-color: black; /* Sets the background color of the element to black */
  top: 15%; /* Positions the element 15% from the top of its containing element */
  margin: auto; /* Centers the element horizontally within its containing element */
  width: 90%; /* Sets the width of the element to 90% of its containing element */
  height: auto; /* Allows the height of the element to adjust automatically based on its content */
  padding: 15px; /* Adds internal spacing of 15 pixels to the element */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* Applies a mixin to set the element's display property to flex and its flex-direction to column */
}

/* Applies query selector to the element for small screens (768px to 991px) */
@media (min-width: 481px) and (max-width: 768px) {
  /* Targets the main content section for adjustments */
  #dash-main {
    /* Sets the height of the main content section */
    height: 75%;
    /* Applies flex-center-column mixin to the form within the main content */
  }
  #dash-main form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
/* Applies query selector to the element for extra small screens (less than 480px) */
@media (max-width: 480px) {
  /* Targets the main content section for adjustments */
  #dash-main {
    /* Sets the height of the main content section */
    height: 75%;
    /* Applies flex-center-column mixin to the form within the main content */
  }
  #dash-main form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* Targets the input field within the form for adjustments */
  }
  #dash-main form input {
    /* Sets the width of the input field to 100% */
    width: 100%;
    /* Sets the height of the input field to auto */
    height: auto;
  }
}
/* Styles for the about-main container */
#about-main {
  z-index: 1; /* Set the stacking order */
  position: relative; /* Set the position */
  border: solid 2px #ff0000; /* Add a border */
  background-color: #000000; /* Set the background color */
  color: #ffffff; /* Set the text color */
  top: 15%; /* Position from the top */
  margin: auto; /* Center the container horizontally */
  width: 90%; /* Set the width */
  height: 75%; /* Set the height */
  padding: 15px; /* Add padding */
  overflow: auto; /* Enable overflow scrolling */
  overflow-x: hidden; /* Hide horizontal overflow */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* Apply flexbox styles for centering content vertically */
  /* Styles for images inside the container */
  /* Styles for horizontal rule */
  /* Styles for paragraphs */
  /* Scrollbar Styling */
}
#about-main img {
  height: auto; /* Automatically adjust height */
  width: 10%; /* Set the width */
  border-radius: 5px; /* Add border radius */
}
#about-main hr {
  background-color: #ff0000; /* Set the background color */
  height: 2px; /* Set the height */
  width: 100%; /* Set the width */
  border: none; /* Remove border */
}
#about-main p {
  text-align: center; /* Center align text */
}
#about-main::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}
#about-main::-webkit-scrollbar-thumb {
  background-color: #555555; /* Set the background color of the scrollbar thumb */
  border-radius: 5px; /* Add border radius to the scrollbar thumb */
}
#about-main::-webkit-scrollbar-track {
  background-color: #333333; /* Set the background color of the scrollbar track */
  border-radius: 5px; /* Add border radius to the scrollbar track */
}/*# sourceMappingURL=style.css.map */