* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

header {
  height: 70px;
}

main {
  height: 100%;
}

footer {
  height: 40px;
}

body {
  font-family: monospace;
  line-height: 1.6;
  color: #333;
}

h1 {
  font-size: 3.2rem;
  font-weight: bold;
}

h2 {
  font-size: 2.4rem;
  font-weight: bold;
}

h3 {
  font-size: 1.6rem;
  font-weight: bold;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn {
  padding: 1rem;
  border: none;
  height: auto;
  width: 100px;
  background-color: #ff0000;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover {
  opacity: 0.9;
}

.btn--enter {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: auto;
  width: 100px;
  background-color: #ff0000;
  text-align: center;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 0px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
  transition: opacity 0.3s ease;
  animation: fadeIn 5s ease-out;
}
.btn--enter a {
  text-decoration: none;
  color: #ffffff;
}
.btn--enter:hover {
  opacity: 0.8;
  cursor: pointer;
}

.spell-card {
  box-shadow: 5px 5px 5px #000000;
  padding: 1rem;
  background-color: #333333;
  color: #ffffff;
  border-radius: 5px;
  max-height: 500px;
  width: 75%;
  margin: auto;
  overflow: scroll;
  overflow-x: hidden;
  /* Scrollbar Styling */
}
.spell-card__details strong {
  color: #ff0000;
}
.spell-card__details hr {
  background-color: #ff0000;
  height: 2px;
  border: none;
}
.spell-card::-webkit-scrollbar {
  width: 12px;
}
.spell-card::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 5px;
}
.spell-card::-webkit-scrollbar-track {
  background-color: #333333;
  border-radius: 5px;
}

#spellSearchForm {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#spellSearchForm label {
  color: #ffffff;
}

#spellName {
  font-size: 2.4rem;
}

header {
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: solid 2px #ff0000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 2rem;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  gap: 3rem;
}
header ul li {
  list-style: none;
  font-weight: bold;
}
header ul li:hover {
  opacity: 0.8;
  transition: opacity 0.5s ease;
}
header ul li a {
  text-decoration: none;
  color: #ffffff;
}

footer {
  position: absolute;
  bottom: 0;
  border-top: solid 2px #ff0000;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  z-index: 1;
  position: relative;
}

.splash-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.splash-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.splash-banner {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #ffffff;
  background-color: #000000;
  padding: 2rem;
  border-radius: 10px;
  animation: fadeIn 5s ease-out;
}

.splash-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #ffffff;
  background-color: #000000;
  animation: fadeIn 10s ease-out;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}

#dash-main {
  z-index: 1;
  position: relative;
  border: solid 2px #ff0000;
  background-color: black;
  top: 15%;
  margin: auto;
  width: 90%;
  height: auto;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */