.btn {
  padding: 1rem;
  border: none;
  height: auto;
  width: 100px;
  background-color: $secondary-color;
  color: $text-primary;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    opacity: 0.9;
  }
}

.btn--enter {
  position: absolute; 
  bottom: 3%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 2;
  height: auto;
  width: 100px;
  background-color: $secondary-color;
  text-align: center;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 0px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
  transition: opacity 0.3s ease;
  animation: fadeIn 5s ease-out;
  a {
    text-decoration: none;
    color: $text-primary;
  }
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
