.spell-card{
    box-shadow: 5px 5px 5px $primary-color;
    padding: 1rem;
    background-color: $quaternary-color;
    color: $text-primary;
    border-radius: 5px;
    max-height: 500px;
    overflow: scroll;
}