#about-main {
  z-index: 1;
  position: relative;
  border: solid 2px $secondary-color;
  background-color: $primary-color;
  color: $text-primary;
  top: 15%;
  margin: auto;
  width: 90%;
  height: 75%;
  padding: 15px;
  overflow: auto;
  overflow-x: hidden;
  @include flex-center-column;

  img {
    height: auto;
    width: 10%;
    border-radius: 5px;
  }

  // Credit to Geeks For Geeks for hr styling.
  hr {
    background-color: $secondary-color;
    height: 2px;
    width: 100%;
    border: none;
  }

  p {
    text-align: center;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #333333;
    border-radius: 5px;
  }
}
